body {
    background-color: rgb(255, 203, 80);
}

#title {
    font-size: 1.8em;
    font-weight: bold;
    color: black;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 25px;
}

.hidden {
    display: none !important;
}

#homepage-main {
    background-image: none;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}

.main-content {
    text-align: center;
    padding: 20px;
}

.main-sentence {
    color: black;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 30px;
}

.main-buttons {
    display: flex;
    gap: 30px;
}

.main-button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: 2px solid black;
    font-size: 1em;
    font-weight: bold;
    border-radius: 25px;
}

.main-button:hover {
    /*placeholder*/
}

#search {
    background-color: white;
    padding: 60px 20px;
    text-align: center;
}

#search h1 {
    font-size: 2em;
    margin-bottom: 30px;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
